<div class="container__menu-bar">
  <div class="menu__container">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">SÉRIE</a></li>
      <li><a href="#">FILMES</a></li>
      <li><a href="#">NOTÍCIAS</a></li>
      <li><a href="#">TOP 10</a></li>
    </ul>
  </div>

  <div class="social-networking__container">
    <a href="#"><img src="assets/icons/icon_twitter.svg" alt="Twitter"></a>
    <a href="#"><img src="assets/icons/icon_instagram.svg" alt="Instagram"></a>
    <a href="#"><img src="assets/icons/icon_dribbble.svg" alt="Dribbble"></a>
  </div>
</div>
